.latest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 14.4375rem;
  background: no-repeat, linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url(../images/latest/background.png);
  background-size: cover;

  @media (max-width: 1509.98px) and (min-width: 1024px) {
    height: 9.79rem;
  }

  @media (max-width: 1023.98px) {
    height: 14.4375rem;

    &__line {
      height: 1.75rem;
    }
  }

  &__img {
    width: 1.34rem;
    height: 2.12rem;

    @media (max-width: 1509.98px) and (min-width: 1024px) {
      width: 0.9rem;
      height: 1.44rem;
    }
  }

  &__block-title {
    color: $rose;
    line-height: 5.0625rem;
  }
}
