.start-block {
    width: 100%;

    &__bg {
        background: no-repeat url(../images/start-page/start-block_bg.png);
        background-size: cover;
    }

    &__nav {
        margin: 0 auto;
    }

    &__greeting {
        width: 77.5%;
        margin: 4.8125rem auto 7.25rem;
    }

    &__subtitle {
        font-size: 4rem;
        color: #FFFFFF;
    }

    &__title {
        margin: 0 auto;
        width: 77.5%;
        height: 23.125rem;
        font-family: $welcome-font;
        font-size: 9rem;
        font-weight: 700;
        text-align: center;
        color: #FFFFFF;
    }

    &__line {
        height: 2.75rem;
        border-color: #FFFFFF;
    }

    &__button {
        margin: 4.5rem auto 0;
    }

    &__sections-list {
        margin: 7.25rem auto 0;
    }
}

.nav {
    $parent: &;  // создание переменной .nav
    display: flex;
    justify-content: space-between;
    width: 77.5%;
    height: 6.25rem;

    &__link-group {
        display: flex;       
    }

    &__link {
        position: relative;
        width: 7.125rem;
        font-family: $main-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 6.25rem;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;

        &:hover {  // .nav__link:hover
            color: $orange;

            & #{$parent}__underline {  // использование переменной .nav - результат: .nav__link:hover .nav__underline
                position: absolute;
                top: 3.94rem;
                left: 0.875rem;
                width: 5.31rem;
                border-bottom: 1px solid $orange;
            }
        }
    }

    &__button {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 2.1875rem;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;

        &:first-child {
            margin-left: 1.0625rem;
        }
    }

}

.link-group__buttons {
    display: flex;
    align-items: center;
} 

.sections-list {
    display: flex;
    justify-content: space-between;
    width: 77.5%;

    &__section {
        position: relative;
        width: 16.875rem;
        border-top: 0.25rem solid $yellow;
        line-height: 4.9rem;
        font-family: $main-font;
        font-size: 1.125rem;
        font-weight: 500;
        color: $yellow;
    }

    &__num {
        font-size: 2.25rem;
        font-weight: 700;
    }

    &__line {
        display: none;
    }

    &__section-active {
        border-color: #FFFFFF;
        color: #FFFFFF;
    }

    &__line-active {
        position: absolute;
        top: -0.25rem;
        width: 4.375rem;
        border-top: 0.25rem solid $rose;
    }

}