// colors
$rose: #F38281;
$yellow: #F9EFCF;
$orange: #F4BF87;
$blue: #95E1D3;
$black: #2D3033;
$grey: #C6CBCD;
$light-grey: #F8F8F8;
$middle-grey: #F5F5F5;

// fonts
$main-font: Raleway, sans-serif;
$welcome-font: Montserrat, sans-serif;
$blocks_name-font: 'Kaushan Script', sans-serif;

