.start-block {
    height: 64rem;
    width: 100%;
}

.start-block__bg {
    background-image: url(../images/start-page/start-block_bg.png);
    object-fit: cover;
}

.start-block__nav {
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 77.5%;
    height: 6.25rem;
}

.nav__link-group {
    display: flex;
}

.nav__link {
    width: 7.125rem;
    font-family: $main-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 6.25rem;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link:hover {
    color: $orange;
}

.link-group__buttons {
    display: flex;
    align-items: center;
}

.nav__button {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2.1875rem;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.nav__button:first-child {
    margin-left: 1.0625rem;
}

